
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
}
:root{
    --primary-color:black;
    --secondary-color:#FF8C00;
    --text-color:#000080;
    --accent-color:#5E5B5B;
    --white-color:white;
    --light-blue: rgb(96, 96, 248);
    --lightText-color: #9F9F9F;
    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    --light-grey: #C4C4C4;
    --font-family-poppin: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-family-poppin);

}
h2{
    font-size:2rem;
    font-family: var(--font-family-poppin);
    

}
h3{
    font-size: 1.2rem;
    font-family: var(--font-family-poppin);
    font-weight: 500;
}
h4{
    font-size: 1rem;
}
h5{
    font-size:.8rem;
}
h6{
    font-size:.5rem;
}
p{
    font-size: 12px;
    color: #3D3935;
    font-family: var(--font-family-poppin);
}
.gap-30{
    gap:30px;
}
.d-flex{
    display:flex;
}

.flex1{
    flex:1;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.container{
    margin:0 auto;
    height:auto;
}
.sec-wrapper{
   
   margin: 10px 80px;
  
  
}

.primary-btn{
    
    text-align: center;
    padding-top: 20px;
    width:150px;
    height:35px;
    background-color:var(--text-color);
    color:var(--white-color);
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--font-family-poppin);

}
    

.nav-links ul a{
    text-decoration: none;
    padding:20px;
    color:var(--text-color);

}
.header-wrapper{
    padding-top: 50px;
}
.header-content{
    
   flex-direction: column;
   gap:20px;

}



.header-links{
    padding-top: 30px;
}

.hexagon {
    width: 300px;
    height: 300px;
    background-color: var(--light-grey);
    position: relative;
    margin: 50px auto;
    clip-path: polygon(
      50% 0%,   /* Top center */
      100% 25%, /* Top right */
      100% 75%, /* Bottom right */
      50% 100%, /* Bottom center */
      0% 75%,   /* Bottom left */
      0% 25%    /* Top left */
    );
    border-radius: 20px; /* Optional for additional rounding */
    overflow: visible;
    transform:translatex(-50%);
}
.hexagon-content>div{
    position: absolute; 
    z-index: 10; 
    width: 150px;
    height: 30px;
    background-color: white; 
    color: black; 
    left: 50%; 
    top: 10%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    border-radius: 5px; 
    font-family: var(--font-family-poppin);
}
.webdev{

    margin-top:150px ;
    translate: 50px 50px;
    padding:5px;
}
.ux-design{
    
    transform:translate(100px ,350px);
    padding:5px;
}
.app-design{
    
    transform:translate(380px ,320px);
    padding:5px;
}
.machine-learning{
    
    transform:translate(350px ,150px);
    padding:5px;
}
.flex-container{
    
    flex-wrap: wrap;
    gap:20px;
}
.content{
   
   border:1px solid #C4C4C4;
   border-radius: 5px;
   width:45%;
   padding:10px;
   padding-left: 30px;
   
 
}
.content p{
    margin-left:15px;
}
.webicon{
    margin-left: -20px;
    font-size: 14px;
    color:var(--white-color);
    background-color: var(--secondary-color);
    padding:5px;
    border-radius: 20px;
}
.icon{
    margin-left: -25px;
    font-size:14px;
    color:var(--white-color);
    padding:10px;
    border-radius: 18px;
   
}
.work-content{
    flex-direction: column;
    gap:50px;
    margin-top: 60px;
}
.designer{
    flex-direction: column;
    gap:40px;
    margin-top: 20px;
    position:relative;
   
}
.rotate-hr{
    position: absolute;
 
   
   height: 285px; 
  margin-left: -30px; 
  top: -10px;
  
  
}

.product-mark{
    margin-left: -38px;
    color:rgb(219, 216, 216);
    translate: 0px 25px;
    font-size: 20px;
   
}
.section3 .sec-wrapper{
    min-height:70vh;
    background-color:#F8F8F8;
    margin: 100px 0px;
    
}
.content4{
    text-align: center;
}
.latest-work{
    margin:0px 90px;
    padding: 30px 0px;
   
}
.image{
    flex:1;
    /* aspect-ratio: 1; */
    background-color:var(--light-grey) ;
    margin:10px;
    height:300px;
    /* width:200px; */
    border-radius: 10px;
}

.end-section{
    background-color: var(--text-color);
    min-height: 30vh;
    width:60%;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 100px;
    
}
.lets-talk .primary-btn{
   
    background-color: var(--white-color);
    
    color:black;
    padding:10px 30px;
}

.text{
    color:var(--white-color);
    padding-bottom: 60px;
    padding-top: 40px;
}
.text p{
    color: var(--white-color);
}
footer {
    color:var(--lightText-color);
}
footer p{
    color:var(--lightText-color);
}

